.headerH6,
.subheadP {
  margin: 0;
  position: relative;
  display: inline-block;
}
.headerH6 {
  align-self: stretch;
  font-size: inherit;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.subheadP {
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  width: 328px;
}
.textDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.closeButton,
.contentDiv {
  position: absolute;
  top: 12px;
}
.contentDiv {
  left: 16px;
  width: 200px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.closeButton {
  width: 40px;
  left: 304px;
}
.headerDiv,
.mediaIcon {
  position: absolute;
  width: 360px;
}
.headerDiv {
  top: 0;
  left: 360px;
  height: 72px;
  font-size: var(--font-size-lg);
  font-family: var(--font-nunito);
}
.mediaIcon {
  top: calc(50% - 127.5px);
  left: calc(50% - 0px);
  height: 183px;
  object-fit: cover;
}
.supportingText {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 20px;
  display: inline-block;
}
.supportingTextDiv {
  position: absolute;
  bottom: 72px;
  left: calc(50% - 0px);
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--m3-sys-light-on-surface-variant1);
}
.labelTextDiv {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.buttonDiv,
.labelTextDiv1 {
  font-family: var(--m3-label-large1);
  text-align: center;
}
.buttonDiv {
  position: absolute;
  top: 343px;
  left: 605px;
  border-radius: var(--br-lg);
  background-color: var(--m3-sys-light-primary);
  overflow: hidden;
  display: none;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--m3-sys-light-on-primary);
}
.labelTextDiv1 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-red);
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: transparent;
  position: absolute;
  top: 348px;
  left: 591px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerH61 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 208px;
}
.headerDiv1,
.mediaIcon1 {
  position: absolute;
  width: 360px;
}
.headerDiv1 {
  top: 0;
  left: 0;
  height: 72px;
  font-size: var(--font-size-lg);
  font-family: var(--font-nunito);
}
.mediaIcon1 {
  top: calc(50% - 127.5px);
  left: calc(50% - 360px);
  height: 183px;
  object-fit: cover;
}
.button1,
.buttonDiv1,
.supportingTextDiv1 {
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
}
.supportingTextDiv1 {
  bottom: 72px;
  left: calc(50% - 360px);
  width: 360px;
  display: flex;
  padding: var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--m3-sys-light-on-surface-variant1);
}
.button1,
.buttonDiv1 {
  padding: var(--padding-xs) var(--padding-xl);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.buttonDiv1 {
  top: 343px;
  left: 245px;
  border-radius: var(--br-lg);
  background-color: var(--m3-sys-light-primary);
  display: none;
  text-align: center;
  color: var(--m3-sys-light-on-primary);
  font-family: var(--m3-label-large1);
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  background-color: transparent;
  top: 347px;
  left: 12px;
  border-radius: var(--br-xs);
  display: flex;
}
.augustP,
.b {
  position: absolute;
  color: var(--color-black);
}
.b {
  top: 125px;
  left: 333px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 76px;
}
.augustP {
  margin: 0;
  top: 352px;
  left: 311px;
  font-size: var(--font-size-lg);
  display: inline-block;
}
.collaborationsPopupDiv {
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 720px;
  height: 399px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--m3-label-large1-size);
  color: var(--m3-sys-light-on-surface);
  font-family: var(--font-open-sans);
}
