@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-nunito: Nunito;
  --font-open-sans: "Open Sans";
  --m3-label-large1: Roboto;

  /* font sizes */
  --font-size-sm: 12px;
  --m3-label-large1-size: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;
  --font-size-3xl: 64px;
  --font-size-4xl: 96px;

  /* Colors */
  --color-turquoise: #32b29b;
  --color-gray-100: #fffcff;
  --m3-sys-light-surface: #fffbfe;
  --color-gray-300: #dadada;
  --color-gray-400: #767676;
  --m3-sys-light-on-surface-variant1: #49454f;
  --color-gray-600: #292929;
  --color-gray-700: #262017;
  --m3-sys-light-on-surface: #1c1b1f;
  --color-red: #ff6a16;
  --m3-sys-light-on-primary: #fff;
  --color-black: #000;
  --m3-sys-light-primary: #6750a4;

  /* Gaps */
  --gap-sm: 4px;
  --gap-md: 8px;

  /* Paddings */
  --padding-3xs: 4px;
  --padding-2xs: 8px;
  --padding-xs: 10px;
  --padding-sm: 12px;
  --padding-md: 16px;
  --padding-lg: 20px;
  --padding-xl: 24px;
  --padding-2xl: 100px;

  /* border radiuses */
  --br-xs: 12px;
  --br-sm: 24px;
  --br-md: 30px;
  --br-lg: 100px;
}
