.rectangleSection {
  position: absolute;
  top: 40px;
  left: 40px;
  border-radius: var(--br-sm);
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
  width: 1360px;
  height: 944px;
}
.headerH6,
.subheadP {
  margin: 0;
  position: relative;
  display: inline-block;
}
.headerH6 {
  align-self: stretch;
  font-size: inherit;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.subheadP {
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  font-family: var(--font-open-sans);
  width: 328px;
}
.contentDiv,
.textDiv {
  display: flex;
  justify-content: flex-start;
}
.textDiv {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
}
.contentDiv {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 200px;
  flex-direction: row;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  align-items: center;
}
.headerDiv,
.mediaIcon {
  position: absolute;
  width: 360px;
}
.headerDiv {
  top: 0;
  left: 360px;
  height: 72px;
  font-family: var(--font-nunito);
}
.mediaIcon {
  top: calc(50% - 127.5px);
  left: calc(50% - 0px);
  height: 183px;
  object-fit: cover;
}
.supportingText {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 20px;
  display: inline-block;
}
.labelTextDiv,
.supportingTextDiv {
  font-size: var(--m3-label-large1-size);
}
.supportingTextDiv {
  position: absolute;
  bottom: 72px;
  left: calc(50% - 0px);
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--m3-sys-light-on-surface-variant1);
}
.labelTextDiv {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-family: var(--font-open-sans);
  color: var(--color-red);
  text-align: center;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  position: absolute;
  bottom: 12px;
  left: 548px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerH61 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 208px;
}
.headerDiv1,
.mediaIcon1 {
  position: absolute;
  width: 360px;
}
.headerDiv1 {
  top: 0;
  left: 0;
  height: 72px;
  font-family: var(--font-nunito);
}
.mediaIcon1 {
  top: calc(50% - 127.5px);
  left: calc(50% - 360px);
  height: 183px;
  object-fit: cover;
}
.b,
.supportingText1 {
  position: absolute;
  line-height: 20px;
}
.supportingText1 {
  margin: 0;
  top: calc(50% - -68.5px);
  left: calc(50% - 348px);
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.25px;
  color: var(--m3-sys-light-on-surface-variant1);
  display: inline-block;
  width: 328px;
}
.b {
  top: 126px;
  left: 333px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.1px;
  display: flex;
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 76px;
}
.frameSection {
  position: absolute;
  top: 402px;
  left: 360px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 720px;
  height: 399px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--m3-sys-light-on-surface);
  font-family: var(--font-open-sans);
}
.retailEntrepeneursSpan {
  color: var(--color-red);
}
.placesSpan {
  color: var(--color-turquoise);
}
.weConnectRetailEntrepeneurs {
  margin: 0;
  position: absolute;
  top: 230px;
  left: 217px;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  text-align: center;
  display: inline-block;
}
.makersP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.hobbyistsP {
  margin: 0;
}
.makersHobbyistsDiv {
  top: 142px;
  left: 405px;
  background: linear-gradient(
    180deg,
    rgba(38, 32, 23, 0),
    rgba(38, 32, 23, 0.7)
  );
}
.artisansCreativesDiv,
.cafesVenuesDiv,
.lobbiesEventsDiv,
.makersHobbyistsDiv {
  position: absolute;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.cafesVenuesDiv {
  top: 142px;
  left: 796px;
  background: linear-gradient(
    180deg,
    rgba(38, 32, 23, 0),
    rgba(38, 32, 23, 0.7)
  );
}
.artisansCreativesDiv,
.lobbiesEventsDiv {
  top: 274px;
  left: 405px;
  background: linear-gradient(
    180deg,
    rgba(38, 32, 23, 0.7),
    rgba(38, 32, 23, 0)
  );
}
.lobbiesEventsDiv {
  left: 796px;
}
.labelText {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--m3-sys-light-on-primary);
  text-align: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-red);
  position: absolute;
  top: 841px;
  left: 614px;
  border-radius: var(--br-lg);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 195px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.homeDiv {
  position: relative;
  background-color: var(--color-turquoise);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-700);
  font-family: var(--font-nunito);
}
